.text {
  font-weight: 700 !important;
}

.item {
  background: #F7F7F7 !important;
}

.mb5 {
  margin-bottom: 5px !important;
}

.typographyDiv {
  max-height: 130px !important;
  overflow: auto !important;
  margin-bottom: 10px !important;
  margin-top: 5px !important;
}