.modal {
  position: absolute;
  top: 0;
  left: 0;
  margin-top: 183px;
  margin-left: 50px;
  padding: 20px;
  background: #fff;
  transform: translateY(-50%);
  display: flex;
  justify-content: flex-end;
  z-index: 1000;
}

.switch {
  display: flex;
  margin: 0;
  justify-content: space-around;
}

.button {
  margin-top: 10px !important;
}