.header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: #F4FAFF;
    height: 48px;
    width: 100%;
    position: fixed;
    z-index: 500;
}

.link {
    text-decoration: none;
    cursor: pointer;
    color: #110932;
}

.activeLink {
    color: #EC0E43;
}