.filters {
  display: flex;
}

.arrow {
  position: absolute;
  top: 50%;
  right: 0;
  margin-right: 15px;
  transform: translateY(-50%);
  display: flex;
  justify-content: flex-end;
  z-index: 1000;
}

.border {
  border-bottom: 1px solid #e0e4eb;
  margin-bottom: 24px;
}

.filterButton {
  min-width: 356px !important;
  display: flex !important;
  justify-content: space-between !important;
  color: rgba(0, 0, 0, 0.6) !important;
}

.backButton {
  color: rgba(0, 0, 0, 0.6) !important;
}